/*###########################################################################################*/
/*############################## Media Queries ##############################################*/
/*###########################################################################################*/

/*######################################*/
/*########### 3440px ###################*/
/*######################################*/

/*######################################*/
/*########### 1920px ###################*/
/*######################################*/

/*######################################*/
/*########### 1440px ###################*/
/*######################################*/

/* 
  General Sizes
  --h1s: 125px;
  --h2s: 80px;
  --h3s: 70px;
  --h4s: 50px;
  --ps: 25px;
  --as: 25px;

  Special Case : Project Sizes
  --proj_p: 13px;
  --proj_h5: 15px;
  --proj_h4: 17px;
  --proj_h3: 20px;
  */

@media screen and (max-width: 1440px) {
  :root {
    --ps: 23px !important;
  }

}

/*######################################*/
/*########### 1024px ###################*/
/*######################################*/

/* 
  General Sizes
  --h1s: 125px;
  --h2s: 80px;
  --h3s: 70px;
  --h4s: 50px;
  --ps: 23px !important;
  --as: 25px;

  Special Case : Project Sizes
  --proj_p: 13px;
  --proj_h5: 15px;
  --proj_h4: 17px;
  --proj_h3: 20px;
  */

@media screen and (max-width: 1024px) {
  #upper-navbar-elements {
    width: 767px;
  }

  #welcome_section_container {
    flex-direction: column;
  }

  #welcome_section_container img {
    justify-self: center;
    align-self: center;
  }
}

/*######################################*/
/*########### 768px ####################*/
/*######################################*/

/* 
  General Sizes
  --h1s: 125px;
  --h2s: 80px;
  --h3s: 70px;
  --h4s: 50px;
  --ps: 23px !important;
  --as: 25px;

  Special Case : Project Sizes
  --proj_p: 13px;
  --proj_h5: 15px;
  --proj_h4: 17px;
  --proj_h3: 20px;
  */
@media screen and (max-width: 768px) {
  :root {
    --h1s: 100px !important;
  }

  /* An anchor for the hamburger */
  #index-header {
    position: relative; /* Anchor */
  }

  /* Switch the Hamburger on, and set position */
  #hamburger {
    position: absolute;
    display: inline;
    right: 0px;
    top: 0px;
    z-index: 999;
  }

  /* Remove whole the upper navbar from the display */
  /* By changing the width to nothing */
  #upper-navbar-elements {
    width: 0%;
  }

  /* Add the side header to the display */
  #side-header {
    display: block;
    margin: 50px 10px 0 0;
    font-size: var(--h5s);
    color: var(--creamy);
    font-family: 'Ubuntu', sans-serif;
  }

  #index-header .navbar-link {
    margin: 0 10px 0 0;
    padding: 0;
    color: var(--creamy);
    font-family: 'Ubuntu', sans-serif;
  }

  /* Transform the upper-navbar-elements to column */
  /* Change its dimensions to nothing */
  /* Move it to the upper corner */
  #upper-navbar-elements ul {
    width: 0px;
    height: 0px;
    right: 0;
    top: 0;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 20px;
    background-image: linear-gradient(45deg, var(--turquoise), 5% , var(--dgray));
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 120px;
    z-index: 998;
    text-align: right;
    transition: 0.3s;
  }

  /* Change the color of the a's and h1 to cream */
  #upper-navbar-elements a {
    color: var(--creamy);
  }

  /* When invisible checkbox is checked */
  /* Find the 'next' ul that shares a parent with this */
  /* Return the ul to display */
  #nav-check:checked ~ ul {
    width: 200px;
    height: 290px;
  }

  /* Stretch Lower-navbar */
  #lower-navbar-elements {
    width: 100%;
    height: calc(fit-content + 5px);
    border-radius: 0;
  }

  #lower-navbar-elements .navbar-link{
    padding: 0;
    margin: 0;
  }

  /* all-projects */
  #all-projects h1 {
    padding: 0 5px 0;
  }

  #welcome_section {
    padding: 0;
  }

  #welcome_section_container {
    width: 80%;
    max-width: 425px;
  }

  #projects_section ul {
    gap: 0;
  }

  .large {
    display: none;
  }

  .who-am-i {
    width: 90%;
    padding-left: 15px;
  }

  .small {
    display: inline-block;
    overflow: hidden;
  }

  #project-introduction {
    padding: 0;
  }

  .saved-proj-header {
    padding: 0;
  }

  .text {
    position: relative;
    color: var(--turquoise);
    font-size: var(--ps);
  }
}

/*######################################*/
/*########### 425px ####################*/
/*######################################*/

/* 
  General Sizes
  --h1s: 125px;
  --h2s: 80px;
  --h3s: 70px;
  --h4s: 50px;
  --ps: 23px !important;
  --as: 25px;

  Special Case : Project Sizes
  --proj_p: 13px;
  --proj_h5: 15px;
  --proj_h4: 17px;
  --proj_h3: 20px;
  */

@media screen and (max-width: 425px) {

  :root {
    --h1s: 22vw !important;
    --h2s: 17vw !important;
    --ps: 6vw !important;
  }

  #index-footer nav {
    height: fit-content;
  }
  
  #lower-navbar-elements ul {
    justify-content: space-evenly;
  }

  #lower-navbar-elements .navbar-link {
    margin: 0;
    padding: 0;
  }

  #index-footer li{
    padding: 10px 0 10px;
  }

  .project {
    flex: 0 0 80%;
  }

  .text {
    font-size: var(--ps);
  }

  #welcome_section_container img {
    width: 47vw;
    height: 47vw;
  }
}

